
*.aux
Ch2_Theory/.DS_Store
pics/Ch6_Results2/.DS_Store
*.aux
pics/.DS_Store
Ch2_Theory/.DS_Store
Thesis_Gerstmayr_V2.synctex.gz
Thesis_Gerstmayr_V2.toc
Thesis_Gerstmayr_V2.out
Thesis_Gerstmayr_V2.log
Thesis_Gerstmayr_V2.aux
Thesis_Gerstmayr_V2.brf
Thesis_Gerstmayr_V2.synctex.gz
pics/.DS_Store
*.aux
Ch2_Theory/.DS_Store
*.aux
*.aux
Ch3_Methods/.DS_Store
Ch2_Theory/.DS_Store
pics/.DS_Store
*.aux
.DS_Store
